
/* Start Navbar */

.navbar {
    height:65px;
    background-color:black;
    color:#FFF
}

.navbar ul {
    list-style:none;
    float: right;;
    margin:23px
}

.navbar ul li {
    display:inline;
    padding-right:15px
}

.navbar ul li a {
    color:#FFF;
    text-decoration:none
}


/* End Navbar */

/* Start Contact Me */

.contact-me .info {width:50%}

.contact-me .info {color:white;margin-left:40px}

.contact-me .info  {margin-left:40px}

.contact-me .info {margin-top:-13px}

.contact-me {background-color:black;
    overflow:hidden;
    padding-top:50px;
    padding-bottom:50px;
    color: white;
    }
    .contact-me .form label {
        color:white;
        display:block;
        margin-top:18px;
        margin-bottom:13px;
    }
    
    .contact-me .form input[type="text"] {
        background-color: black;
        color:#FFF;
        height: 40px;
        width: 80%;
        border:0;
        font-size:18px
    }
    
    .contact-me .form textarea {
        height:300px;
        width:80%;
        background-color:#455557;
        color:#FFF;
        border:0;
        font-size:18px
    }
    
    .contact-me .form input[type="submit"] {
        background-color: #191E22;
        display:block;
        color:#FFF;
        height: 40px;
        border:0;
        margin-top:30px;
        padding-right: 22px;
        padding-left: 22px
    }
    
/* End Contact Me */

/* Start Footer */
.footer {background-color: black;
text-align: center;
color: white;
list-style: nones;}

.footer ul li {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}